*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Montserrat,sans-serif;

background:#F9F9F9;

min-height:100vh;

overflow:hidden;

position:relative;

display:flex;
justify-content:center;
align-items:center;

}

/* fondo */

body::before{

content:"";

position:absolute;

width:420px;
height:420px;

background:#1FB76A20;

border-radius:50%;

left:-180px;
top:-180px;

filter:blur(30px);

}

body::after{

content:"";

position:absolute;

width:450px;
height:450px;

background:#2E83C120;

border-radius:50%;

right:-180px;
bottom:-180px;

filter:blur(30px);

}

.franja{

position:fixed;

top:0;
left:0;

width:100%;
height:7px;

background:linear-gradient(90deg,#1FB76A,#2E83C1);

}

.mantenimiento{

width:min(90%,650px);

text-align:center;

z-index:10;

}

.logo{

width:260px;

margin-bottom:45px;

}

h1{

font-size:2.2rem;

font-weight:700;

color:#3D3A2E;

line-height:1.25;

margin-bottom:25px;

}

p{

font-size:1rem;

color:#666;

line-height:1.8;

}

.loader{

display:flex;

justify-content:center;

gap:12px;

margin:45px 0;

}

.loader span{

width:14px;
height:14px;

border-radius:50%;

background:#1FB76A;

animation:pulse 1.2s infinite;

}

.loader span:nth-child(2){

animation-delay:.2s;

background:#2E83C1;

}

.loader span:nth-child(3){

animation-delay:.4s;

background:#1FB76A;

}

@keyframes pulse{

0%,100%{

transform:scale(.5);

opacity:.3;

}

50%{

transform:scale(1.1);

opacity:1;

}

}

.boton{

display:inline-flex;

align-items:center;

justify-content:center;

padding:16px 38px;

border-radius:50px;

background:linear-gradient(90deg,#1FB76A,#2E83C1);

color:#fff;

font-weight:700;

text-decoration:none;

transition:.3s;

margin-bottom:40px;

}

.boton:hover{

transform:translateY(-3px);

box-shadow:0 12px 25px rgba(0,0,0,.15);

}

.contacto{

font-size:.95rem;

color:#666;

display:flex;

flex-direction:column;

gap:10px;

}

@media(max-width:768px){

.logo{

width:190px;
margin-top:50px;


}

h1{

font-size:1.7rem;

}

p{

font-size:.95rem;

}

.boton{

width:70%;
padding: 20px;

}

}