/*NOSOTROS*/



.nosotros{

    padding:30px 20px 50px;

    text-align:center;


  
}

.nosotros__encabezado{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:8px;

    margin-bottom:25px;
    margin-top: 27px;

}

.nosotros__icono{

    width:24px;

    height:auto;

}

.nosotros h1{

    font-size:1.3rem;

    font-weight:700;

    color:#3D3A2E;

}


.nosotros__contenido{

    max-width:340px;

    margin:0 auto 30px;

    

}

.nosotros__contenido p{

    font-size:.9rem;

    line-height:1.6;

    color:#666;

    margin-bottom:15px;

}


.nosotros__imagen{

    width:100%;

    border-radius:8px;

    display:block;

}


/*VALORES*/

.valores{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:20px;

    padding:40px 0;

}


.valor-card{

    width:90%;

    border-radius:12px;

    padding:25px;

    box-sizing:border-box;

}

.valor-card--azul{

    background:#dceaf4;

}
.valor-card--verde{

    background:#f5f9fb;

}

.valor-card--verde h3{
    color:#1FB76A;
    background:#f5f9fb;

}




.valor-card__titulo{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:18px;

}


.valor-card__titulo img{

    width:32px;

    height:32px;

    object-fit:contain;

}


.valor-card--azul h3{

    color:#2E83C1;

}


.valor-card h3{

    font-size:1.2rem;

    font-weight:700;

}


.valor-card p{

    font-size:.9rem;

    line-height:1.7;

    color:#3D3A2E;

}


.valor-card ul{

    padding-left:18px;

}
.valor-card li{

    margin-bottom:10px;

    font-size:.9rem;

    line-height:1.5;

    color:#3D3A2E;

}

.valor-card{

    transition:.3s ease;
}
.valor-card:hover{

    transform:translateY(-5px);

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}


/*CORPORATIVOS*/

.valores-corporativos{

    padding:3px 0 50px;

    background:#ededed;

}

.valores-corporativos__lista{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:15px;

    margin-top:35px;

}


.valor{

    width:90%;

  background:#f9f9f9;

    border:1px solid #e6e6e6;

    border-radius:10px;

    padding:18px;

    transition:.3s ease;

    height: 140px;

}


.valor__titulo{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:10px;

}

.valor__titulo img{

    width:32px;

    height:32px;

    object-fit:contain;

}


.valor__titulo h3{

    font-size:1rem;

    color:#2E83C1;

    font-weight:700;

}

.valor p{

    font-size:.9rem;

    line-height:1.6;

    color:#666;

}


.valor:hover{

    transform:translateY(-5px);

    box-shadow:0 8px 18px rgba(0,0,0,.08);

}

.valores-corporativos h2 {
     font-size:1.3rem;
    
    font-weight:700;

    color:#3D3A2E;
}

.valores-corporativos h2::after{
    display:none;
}

.valores-corporativos .nosotros__icono{
    margin-top: 28px;
}


/*NUESTRO COMPROMISO*/

.nosotros__contenido P{
    font-size: .9rem;
}



.hero-nosotros__texto{
    display: none;
}



/* VERSION ESCRITORIO*/

@media (min-width:768px){


/*TEXTO DE HERO*/

.hero__slide{
    position:relative;
}

.hero-nosotros__texto{

    position:absolute;

    left:3%;
    top:50%;

    transform:translateY(-50%);

    color:#fff;

    z-index:10;

    text-shadow:
        0 4px 12px rgba(0,0,0,.45);

    display: block;

}

.hero-nosotros__texto h1{

    margin:0 0 10px;

    font-size:4rem;

    font-weight:800;

    line-height:1;

    color:#fff;

}

.hero-nosotros__texto p{

    margin:0;

    font-size:1.5rem;

    line-height:1.3;

    font-weight:600;

    color:#fff;

}






    /*NOSOTROS*/
    
.nosotros{

    max-width:1200px;

    margin:auto;

    margin-top: 20px !important;


    padding:30px 20px 60px;

    display:grid;

    grid-template-columns:1fr 500px;

    grid-template-areas:
        "encabezado imagen"
        "contenido imagen";

    column-gap:80px;

    align-items:center;

    text-align:left;

}


.nosotros__encabezado{

    grid-area:encabezado;

    justify-content:flex-start;

    margin:0 0 25px 0;

     max-width:520px;



}


.nosotros__icono{

    width:28px;

}



.nosotros h1{

    font-size:2rem;

}


.nosotros__contenido{

    grid-area:contenido;

    max-width:520px;

    margin:0;

}


.nosotros__contenido p{

    font-size:1rem;

    line-height:1.8;

    margin-bottom:18px;

}


.nosotros__imagen{

    grid-area:imagen;

    width:100%;

    max-width:500px;

    height: 250px;

    justify-self:end;

    border-radius:8px;

    object-fit:cover;

}

/*VALORES*/


.valores{

    flex-direction:row;

    justify-content:center;

    align-items:stretch;

    gap:25px;

    max-width:1230px;

    margin:auto;

}


.valor-card{

    width:auto;
    padding:35px;
    margin:0;

}


.valor-card:nth-child(1){

    flex:1;

}

.valor-card:nth-child(2){

    flex:1;

}

.valor-card:nth-child(3){

    flex:1.6;

}



.valor-card__titulo img{

    width:42px;
    height:42px;

}

.valor-card h3{

    font-size:1.5rem;

}

/*CORPORATIVOS*/

.valores-corporativos{

    padding:60px 40px 80px;

}

.valores-corporativos__lista{

    display:grid;

    grid-template-columns:repeat(3, 1fr);

    gap:30px;

    max-width:1200px;

    margin:50px auto 0;

    align-items:stretch;

}

.valor{

    width:100%;

    height:100%;

    min-height:240px;

    padding:30px;

    display:flex;

    flex-direction:column;


}

.valor__titulo{

    flex-direction:column;

    align-items:flex-start;

    gap:15px;

    margin-bottom:20px;

}


.valor__titulo img{

    width:55px;

    height:55px;

}


.valor__titulo h3{

    font-size:1.3rem;

    line-height:1.3;

}


.valor p{

    font-size:1rem;

    line-height:1.8;

    flex-grow:1;

}



.valor:hover{

    transform:translateY(-8px);

    box-shadow:0 12px 25px rgba(0,0,0,.08);

}


.valor::before{

    content:"";

    position:absolute;

    bottom:0;

    left:0;

    width:0;

    height:4px;

    background:linear-gradient(
        90deg,
        #1FB76A,
        #2E83C1
    );

    transition:.4s ease;

}


.valor:hover::before{

    width:100%;

}

.NuestroCompromiso{
    height: 400px;
    padding-top: 20px;

}

}






